<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
	<%= f.label :bru_name %>
	<div><%= f.text_field :bru_name %></div> </br>

	
	<%= f.label :title %>
	<div><%= f.text_field :title %></div> </br>

	
	<%= f.label :body %>
	<div><%= f.text_field :body %></div> </br>

	<%= f.submit %>	
<% end %>